/* Color Theme Swatches in Hex */
$pink: #190087;
$darkPink: #5e8cff;
$lightPink: #EFA9A9;
$hardal: #DBE1B5;
$olive: #4c945e;
$blue: #456e90;
// alt kodlar _ ile başlar , kendi başlarına derlenmesin diye